<ion-content class="content">

  <ion-card class="main-card">
    <div class="title">
      <span>Identifique árvores em risco</span>
    </div>

    <div class="landing-image">
      <ion-img src="../../../assets/images/tree-giant.png"></ion-img>
    </div>
  </ion-card>

  <div class="preview">
    <div class="question">
      <p>O que são as doenças das árvores? </p>
    </div>

    <div>
      <p>Como em outros organismos vivos, as árvores também possuem doenças específicas,
        e estas, por sua vez, podem afetar diferentes partes de uma árvore, como por exemplo, os troncoss e raízes. </p>
    </div>

    <div class="question">
      <p>Principais causas</p>
    </div>

    <div>
      <p>As doenças podem ser causadas por bactérias, fungos, vírus, e alguns outros fatores.
        Porém há um fator específico que pode contribuir negativamente para a saúde de uma árvore,
        as condições do local em que a mesma está.
      </p>
    </div>

    <div class="question">
      <p>Como verificar uma árvore?</p>
    </div>
  </div>

  <ion-card class="step-one">
    <ion-card-header>
      <ion-card-title class="card-title">
        Passo 1 - Partes Principais
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="card-content">
      Comece observando as principais partes de uma árvore, como: tronco em geral, galhos e folhas.
      Veja se as folhas estão com uma coloração diferente da normal ou se o tronco da árvore apresenta algum desnível.
    </ion-card-content>
  </ion-card>

  <ion-card class="step-two">
    <ion-card-header>
      <ion-card-title class="card-title-two">
        Passo 2 - Interfêrencias externas
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="card-content">
      Nessa etapa, repare nas interferências externas que a árvore possui, como calçadas obstruindo sua raiz
      e fios de eletricidade entre os galhos.
    </ion-card-content>
  </ion-card>

  <ion-card class="step-three">
    <ion-card-header>
      <ion-card-title class="card-title">
        Passo 3 - Conclusão
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="card-content">
      Caso a árvore esteja com alguma característica semelhante ás imagens de exemplo dos passos 1 e 2, isso significa que a
      árvore provavelmente está em risco e precisa de algum tipo de cuidado. Clique e veja como proceder!
    </ion-card-content>
  </ion-card>

</ion-content>
