.content {

  .main-card {
    margin: 0px;
    height: 40%;
    border-radius: 0 0 3rem 3rem;
    background-image: linear-gradient(to bottom, #05371f, #073b1f, #0a401e, #0f441d, #14481b);
  }

  .title {
    font-size: 20px;
    margin-top: 8%;
    margin-bottom: -14px;
    text-align: center;
    font-family: 'Secular One', sans-serif;
  }

  .landing-image {
    margin-top: 8%;
    display: flex;
    justify-content: center;

    ion-img {
      width: 55%;
    }
  }

  .card-title {
    font-family: 'Secular One', sans-serif;
    color: #fff;
  }

  .card-title-two {
    font-size: 19px;
    font-family: 'Secular One', sans-serif;
    color: #fff;
  }

  .preview {
    margin-bottom: -30px;
    margin-top: -10px;
    padding: 20px;
    text-align: justify;
  }

  .question {
    color: #135725;
    font-family: 'Secular One', sans-serif;
    font-size: 18px;
  }

  .step-one, .step-two, .step-three {
    border-radius: 15px;
    background-image: linear-gradient(to bottom, #05371f, #073b1f, #0a401e, #0f441d, #14481b);
  }

  .card-content {
    color: #bbbbbb;
    text-align: justify;
    margin-bottom: 8px;
  }
}
