<ion-content class="content">
  <div class="card">
    <div class="image">
      <ion-img class="img" src="../../../assets/images/arvore-caida-500.jpg"></ion-img>
    </div>

    <div class="card-content">
      <div class="card-title">
        <h3>testando</h3>
      </div>

      <div style="color: black;">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Doloremque eligendi debitis numquam molestiae modi perferendis,
          delectus officiis suscipit, officia quisquam deserunt porro expedita
          reiciendis ab odio. Tenetur eveniet quae iste!</p>

        EXEMPLOS EM CARROSEL
      </div>
    </div>


    <div class="card-content">
      <div class="card-title">
        <h3>testando</h3>
      </div>
    </div>
  </div>
</ion-content>
