ion-content {
  --background: #F6FBF4;
  // --background: linear-gradient(90deg, rgba(18,85,43,1) 21%, rgba(9,121,46,1) 70%, rgba(12,111,45,1) 91%);
}

.get-started {
  display: flex;
  justify-content: center;
}

ion-button {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  --background: #18753b;
  --border-radius: 14px;
  color: black;
}

.circleBase {
  border-radius: 50%;
}

.type1 {
  position: absolute;
  width: 280px;
  height: 280px;
  // background: linear-gradient(90deg, #2a58a8 0%, #2201a3 100%);
  background: linear-gradient(90deg, rgba(17,84,39,1) 26%, rgba(24,117,59,1) 100%);
  box-shadow: 0px 1px 20px rgb(13, 107, 36);
  top: -50px;
  left: -50px;
}

.type2 {
  width: 100px;
  height: 100px;
  background: #000;
}

.circle1 {
  margin-left: 180px;
  margin-top: 50px;
}

.circle2 {
  position: absolute;
  top: 150px;
  left: -20px;
}

.welcomeMessage {
  position: absolute;
  top: 70px;
  left: 50px;

  p {
    font-weight: bold;
    font-size: 1.8rem;
    margin-top: 5px;
  }
}

ion-card {
  justify-content: space-between;
  display: flex;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(15, 65, 39) 0%, rgb(13, 51, 40) 100%);
}

.card-icon {
  align-self: center;
}

ion-toolbar {
  --background: #080808;
  --color: #ffffff;
}

ion-title {
  // font-family: 'Nerko One', cursive;
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
}

.main-title {
  text-align: center;
  margin-top: 14px;
}
