ion-content {
  --background: var(--ion-color-dark) url('../../../assets/images/dark.jpg') no-repeat center center/cover;
}

ion-card {
  justify-content: space-between;
  display: flex;
  border-radius: 10px;
  // background: linear-gradient(90deg, rgb(13, 51, 40) 0%, rgb(15, 65, 39) 100%);
  background: linear-gradient(90deg, rgb(15, 65, 39) 0%, rgb(13, 51, 40) 100%);
}

.card-icon {
  align-self: center;
}

ion-toolbar {
  --background: #080808;
  --color: #ffffff;
}

ion-title {

  // font-family: 'Nerko One', cursive;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
}

.main-title {
  text-align: center;
  margin-top: 14px;
}

